<!doctype html>
<html>
  <head>
    <title>{{ pagetitle }} at pinnwand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset-min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='pinnwand.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='p-default.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='print.css') }}" type="text/css" media="print">
  </head>
  <body>
    <aside>
      <h1>
          <a href="{{ url_for('index') }}"><img src="http://bpython-interpreter.org/theme/images/bpython.png"></a>
          <br>
          <a href="{{ url_for('index') }}">new paste</a>
          <br><br>
          <a href="{{ url_for('removal') }}">removals</a>
      </h1>
    </aside>
    <article id="content-area">
       {% block body %}{% endblock -%}
    </article>
  </body>
</html>

